<section class="container-fluid">
    <div class="row home-row">
        <div class="col-6 flex-left-center flex-column pl-5">
            <h1>Find Best Places</h1>
            <h1>& Plan Your Trip With Us</h1>
            <p>
                Welcome to cicerone, your virtual personalized vacation planner. Plan and find out the best stay to make
                your visit remarkable.
            </p>
            <button mat-raised-button color="primary">PLAN YOUR TRIP</button>
        </div>
        <div class="col-6 flex-center-center">
            <div class="img-box img-box-1"></div>
        </div>
    </div>
    <div class="row home-row">
        <div class="col-6 flex-center-center">
            <div class="img-box row">
                <div class="col-12 img-box-2"></div>
                <div class="col-4 img-box-3"></div>
                <div class="col-4 img-box-4"></div>
                <div class="col-4 img-box-5"></div>
            </div>
        </div>
        <div class="col-6 flex-left-center flex-column pr-5">
            <h1>Find Best Places</h1>
            <h1>with Our Recommendations</h1>
            <p>
                Have no clue where to stay? You have come to the right place! Find the best place to enjoy your stay!
            </p>
            <button mat-raised-button color="primary">FIND BEST PLACES</button>
        </div>
    </div>    
    <div class="row home-row">
        <div class="col-6 flex-left-center flex-column pl-5">
            <h1>Find Best Restaurents</h1>
            <h1>with Our Recommendations</h1>
            <p>
                In the mood for local favourites? We got you covered! Visit the best restaurants to your own liking.
            </p>
            <button mat-raised-button color="primary">PFIND BEST RESTAURANTS</button>
        </div>
        <div class="col-6 flex-center-center">
            <div class="img-box row">
                <div class="col-12 img-box-6"></div>
                <div class="col-4 img-box-7"></div>
                <div class="col-4 img-box-8"></div>
                <div class="col-4 img-box-9"></div>
            </div>
        </div>
    </div>
</section>